<div id="filterPanel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Filters</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end center">
        <div fxFlex="15">
          <button mat-raised-button>Reset</button>
        </div>
        <div fxFlex="15">
          <button mat-raised-button color="accent">Search</button>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</div>
